/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    margin:0px;
    padding:0px;
    background-color:#EAE7D2;
}

#topbar {
    text-align:right;
    color:#EAE7D2;
    height:230px;
    background-color:#51473D;
    position:relative;
    width:100%;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-size:70% 65%;
    background-position:364px 50px;
}

#menu a {
    position:relative;
    bottom:45px;
    left:324px;
    text-decoration:none;
    float:left;
    margin-right:5px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    background-color:#797066;
    color:#EAE7D2;
    font-family:arial;
} 

#menu li.active a {
    background-color:#EAE7D2;
    color:#9D8B97;
}

#menu li a:hover {
    background-color:#9C9084;
    color:#EAE7D2;
}

#menu a::first-letter {
    text-transform: uppercase
}

#menu li {
    list-style-type:none;
}

#menu > a:first-child {
    display:none;
}

#content {
    position:relative;
    bottom:16px;
    right:190px;
    overflow:hidden;
    width: 70%;
    background-color:#EAE7D2;
    height:700px;
}

#content p,h1,h2,h3,a {
    padding-left:15px;
}

#maincontent {
    position:relative;
    top:35px;
    float:left;
    width:55%;
}

#maincontent h1,h2,h3 {
    font-family:times;
    color:#534D42;
}

#maincontent p {
    font-family:verdana;
}

#maincontent img {
    float:left;
    padding-left:5px;
    margin-right:10px;
}

#subcontent li {
    position:relative;
    right:40px;
    list-style-type:none;
}

#subcontent h2 {
    position:relative;
    top:10px;
    font-size:0.88em;
}

#subcontent {
    position:relative;
    top:60px;
    width:44%;
    float:right;
    border-left:2px gray dashed;
}

#subcontent p {
    font-family:verdana;
    font-size:0.95em;
    line-height:30px;
}

#subcontent h1,h3 {
    font-family:times;
    color:#534D42;
    font-size:1.3em;
}

#subcontent a {
    color:#534d42;
}

#bottomcontent {
    position:relative;
    top:40px;
    float:left;
    font-style:italic;
    font-size:0.85em;
}
