/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

body {
    margin:0px;
    padding:0px;
}

#topbar {
    text-align:right;
    font-style:italic;
    font-size:0.8em;
    padding-top:5px;
    color:#EAE7D2;
    height:249px;
    background-color:#51473D;
    position:relative;
    width:600px;
    background-image:url(pics/coffey.jpg);
    background-repeat:no-repeat;
    background-position:0px 20px;
}

#menu a {
    position:relative;
    bottom:44px;
    text-decoration:none;
    float:left;
    right:30px;
    margin-right:1px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    background-color:#797066;
    color:#EAE7D2;
    font-family:arial;
} 

#menu li.active a {
    background-color:#EAE7D2;
    color:#9D8B97;
}

#menu li.active a {
    background-color:#EAE7D2;
    color:#9D8B97;
}

#menu li a:hover {
    background-color:#9C9084;
    color:#EAE7D2;
}

#menu a::first-letter {
    text-transform: uppercase
}

#menu li {
    list-style-type:none;
}

#menu > a:first-child {
    display:none;
}

#content {
    position:relative;
    overflow:both;
    bottom:16px;
    width: 600px;
    background-color:#EAE7D2;
    height:530px;
}

#content p,h1,h2,h3,a {
    padding-left:10px;
}

#maincontent {
    position:relative;
    float:left;
    width:370px;
}

#maincontent h1,h2,h3 {
    font-family:times;
    color:#534D42;
}

#maincontent p {
    font-family:verdana;
    line-height:1.5em;
    font-size:0.85em;
    padding-right:5px;
    color:#534d42;
}

#maincontent img {
    float:left;
    padding-left:10px;
    margin-right:10px;
}


#subcontent {
    position:relative;
    top:20px;
    width:227px;
    float:right;
    border-left:2px gray dashed;
}

#subcontent li {
    position:relative;
    right:40px;
    list-style-type:none;
}

#subcontent h2 {
    position:relative;
    top:10px;
    font-size:0.88em;
    font-weight:lighter;
}

#subcontent p {
    font-family:verdana;
    font-size:0.65em;
    line-height:23px;
    color:#534d42;
    
}

#subcontent h1 {
    font-family:times;
    color:#534D42;
    font-size:1.2em;
    font-weight:lighter;
}

#subcontent a {
    color:#534d42;
}

#bottomcontent {
    position:relative;
    float:left;
    font-style:italic;
    font-size:0.70em;
    padding-left:10px;
    color:#534d42;
}
